
.vue-codemirror {
  width: auto;
  height: 100%;

  .CodeMirror, .CodeMirror-merge {
    height: 100%;
  }

  .CodeMirror {
    font-family: inherit;

    .CodeMirror-gutters {
      border-right: 0px;
    }
  }
}
