/*
 * Copyright (c) 2019-present, Jhuix (Hui Jin) <jhuix0117@gmail.com>. All rights reserved.
 * Use of this source code is governed by a MIT license that can be found in the LICENSE file.
 */

.vue-codemirror {
  width: auto;
  height: 100%;

  .CodeMirror, .CodeMirror-merge {
    height: 100%;
  }

  .CodeMirror {
    font-family: inherit;

    .CodeMirror-gutters {
      border-right: 0px;
    }
  }
}
